* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
ul {
  list-style-type: none;
}
li {
  text-decoration: none;
}

.container {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 35px 60px 75px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.header {
  background-color: #f7f6f6;
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.jordans-logo {
  margin-left: 50px;
}
.jordans-logo:hover {
  cursor: pointer;
}
.jordans-logo img {
  height: 27px;
}
.navbar {
  background-color: #ffffff;
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-content {
  position: relative;
  right: 75px;
}
.header-content ul {
  display: flex;
  flex-direction: row;
}
.header-content ul li {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-content ul li a {
  text-decoration: none;
}
.header-content ul li a p {
  font-size: 13px;
  font-weight: 500;
  color: black;
}

.vertical-line {
  border-right: 1px solid black;
  height: 12px;
  margin: 12px;
}
.nike-logo {
  position: relative;
  left: 55px;
}
.nike-logo:hover {
  cursor: pointer;
}
.nav-left-content img {
  height: 60px;
}
.nav-center-content {
  position: relative;
  left: 80px;
}
.nav-center-content ul {
  display: flex;
  flex-direction: row;
}
.nav-center-content ul li .nav-menu a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  font-weight: 500;
}
.nav-center-content ul li .nav-menu button {
  font-size: 17px;
  font-weight: 500;
  border: none;
  background: none;
}
.nav-menu {
  padding: 15px;
}
.nav-right-content {
  display: flex;
  flex-direction: row;
  position: relative;
  right: 65px;
  align-items: center;
}
.nav-right-content .serach-button {
  position: relative;
  left: 30px;
  background-color: #f5f5f5;
  border-radius: 24px;
}
.nav-right-content .serach-button button {
  border: none;
  background-color: #f5f5f5;
  border-radius: 17px;
  padding: 6px;
}
.nav-right-content .serach-button button:hover {
  background-color: #d1cfcf;
}

.serach-button button img {
  height: 20px;
}
.nav-right-content i {
  font-size: 22px;
}
.nav-right-content a img {
  height: 20px;
}
.nav-right-content input {
  height: 35px;
  border-radius: 17px;
  border: none;
  background-color: #f5f5f5;
  width: 172px;
}
.nav-right-content input[type="text"]:hover {
  background-color: #d1cfcf;
}
::placeholder {
  font-size: 17px;
  padding-left: 30px;
  color: #333333;
}
.nav-right-content i {
  margin: 15px;
  padding: 5px;
}
.nav-right-content i:hover {
  background-color: #d1cfcf;
  border-radius: 24px;
}
.nav-right-content a {
  padding: 5px;
  border-radius: 24px;
}
.nav-right-content a:hover {
  background-color: #d1cfcf;
}
.nav-quotes {
  grid-area: 3 / 1 / 4 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f7f6f6;
  border-bottom: 1px solid #bbb8b8;
}
.nav-quotes span {
  font-weight: 400;
}
.nav-quotes a {
  color: black;
  font-weight: 500;
  font-size: 13px;
  margin-top: 10px;
}
.main-img {
  margin: 0 40px;
  height: 100%;
  grid-area: 4 / 1 / 5 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-img:hover {
  cursor: pointer;
}
.main-img img {
  width: 100%;
  object-fit: fill;
}
.main-img .main-quotes {
  position: relative;
  width: 75%;
  text-align: center;
  /* left: 13%; */
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-img .main-quotes .title {
  font-weight: 600;
}
.main-img .main-quotes .description {
  font-weight: 401;
}
.main-img .main-quotes h3 {
  font-family: "Albert Sans", sans-serif;
  font-weight: 900;
  font-size: 70px;
  font-stretch: expanded;
}
.main-img .main-quotes-buttons {
  display: flex;
  flex-direction: row;
}

.main-img .main-quotes-buttons button {
  background-color: black;
  border-radius: 24px;
  border: none;
  color: white;
  padding: 0 15px;
  height: 37px;
  font-weight: 500;
  font-size: 17px;
  margin: 30px 5px;
}
.images {
  grid-area: 5 / 1 / 6 / 2;
  margin-top: 84px;
  margin-left: 50px;
  margin-right: 40px;
  white-space: nowrap;
  position: relative;
  height: 935px;
  overflow: hidden;
}
.images .title {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.images .title h2 {
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.images .overlay {
  width: 100%;
  position: absolute;
  padding-bottom: 40px;
  overflow: hidden;
}
.images .overlay ul {
  display: flex;
}
.images .overlay ul li .image-overlay {
  margin: 0 10px 0 0;
}
.images .overlay ul li .image-overlay .image {
  width: 596px;
  height: 720px;
}
.images .overlay ul li .image-overlay .image img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}
.images .overlay ul li .image-overlay .image-overlay-content {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 55px;
  bottom: 180px;
}
.images .overlay ul li .image-overlay .image-overlay-content .image-title p {
  color: white;
  font-weight: 500;
  font-size: 17px;
}
.images
  .overlay
  ul
  li
  .image-overlay
  .image-overlay-content
  .image-description {
  margin: 10px 0 20px;
}
.images
  .overlay
  ul
  li
  .image-overlay
  .image-overlay-content
  .image-description
  h3 {
  font-size: 25px;
  font-weight: 400;
  color: white;
}
.images
  .overlay
  ul
  li
  .image-overlay
  .image-overlay-content
  .shop-button
  button {
  background-color: white;
  border: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
  border-radius: 24px;
  width: 70px;
  padding: 5px;
}

/* .test {
  width: 100%;
  height: 100vh;
  background-color: black;
  grid-area: 6 / 1 / 7 / 2;
} */

.slide-image {
  grid-area: 6 / 1 / 7 / 2;
  margin-left: 50px;
  margin-right: 40px;
  white-space: nowrap;
  position: relative;
  height: 950px;
  margin-top: 70px;
}
.slide-image .title {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.slide-image .title h2 {
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.slide-image .slide-img {
  width: 100%;
  position: absolute;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 30px;
}
.slide-image .slide-img ul {
  display: flex;
}

.slide-image .slide-img ul li .images-list {
  margin: 0 10px 0 0;
}
.slide-image .slide-img ul li:last-child {
  .images-list {
    margin-right: 0;
  }
}
.slide-image .slide-img ul li .images-list .image {
  width: 600px;
  height: 600px;
}
.slide-image .slide-img ul li .images-list .image img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 7px;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.slide-image .slide-img .image-details {
  margin: 5px 0;
}
.slide-image .slide-img .image-details .details {
  padding: 5px 0;
}
.slide-image .slide-img .image-details .details h4 {
  padding: 5px 0;
}
.slide-image .slide-img .image-details .details h5 {
  padding: 0 0 10px 0;
  font-size: 15px;
  color: #707072;
}
.slide-image .slide-img .image-details .product-price h3 {
  font-size: 17px;
}

.slide-image .slide-img ul li .images-list .description .description-title h3 {
  font-size: 26px;
  font-weight: 400;
  font-family: "Roboto";
}
.slide-image .slide-img ul li .images-list .description .description-title {
  margin-top: 36px;
}
.slide-image .slide-img ul li .images-list .description .description-content {
  margin-top: 20px;
}
.slide-image .slide-img ul li .images-list .description .description-content a {
  font-weight: 500;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid #000000;
  margin-right: 10px;
}
.second-main-img {
  grid-area: 7 / 1 / 8 / 2;
  margin-top: 50px;
}

.slide-quotes-img {
  grid-area: 8 / 1 / 9 / 2;
  white-space: nowrap;
  position: relative;
  height: 660px;
  margin: 120px 10px 50px 10px;
}
.slide-quotes-img .title {
  margin-left: 50px;
  margin-bottom: 20px;
}
.slide-quotes-img .title h2 {
  font-size: 35px;
  font-weight: 400;
}
.slide-quotes-img .demo-slide-image {
  width: 95%;
  height: 100%;
  margin-left: 50px;
  margin-right: 40px;
  position: absolute;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 30px;
}
.slide-quotes-img .demo-slide-image ul {
  display: flex;
}
.slide-quotes-img .demo-slide-image ul li .image {
  margin: 0 10px 0 0;
  width: 600px;
  height: 600px;
}

.slide-quotes-img .demo-slide-image ul li .image img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.second-slide-image {
  grid-area: 9/1/10/2;
  height: 640px;
}
.second-slide-image .slide-img ul li .images-list .image {
  height: 400px;
}
.second-images {
  grid-area: 10/1/11/2;
}

.second-images
  .overlay
  ul
  li
  .image-overlay
  .image-overlay-content
  .image-description
  h3 {
  font-size: 30px;
  font-weight: 500;
}
